@import '../../assets/stylesheets/globals/media';

$color-primary:#01a389;
$color-white: #fff;
$logo-color: #BFC5CF;
$logo-bgColor:#e0f4f1;
/************************** Layout: MenuBar *******************************/

/******* MenuBar *******/
.menuBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 30px 20px;
    border-right: rgba(128, 128, 128, 0.509) 1px solid;
}
.menuLogo, .menuProfile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $logo-color;
    color: $color-white;
}



.menuItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@include up-to-breakpoint($mobile) {
    .menuBar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px 20px;
        border-top: rgba(128, 128, 128, 0.509) 1px solid;
    }
    .menuItems {
        flex-direction: row;
        gap: 3px;
    }
}

/******* MenuItem *******/

.menuItem {
    button{
        background: none;
        color: inherit;
        border: none;
        padding: 10px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        filter: invert(78%) sepia(7%) saturate(299%) hue-rotate(179deg) brightness(101%) contrast(89%);
        height: 1rem;
        width: 1rem;
    }
}

.tab {
    width:100%;
}

.isSelected {
  background-color: $logo-bgColor;
  border-radius: 10px;
  img {
    filter: invert(47%) sepia(24%) saturate(2690%) hue-rotate(133deg) brightness(91%) contrast(99%);
  }
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -24px;
    height: 40px;
    border-radius: 50%;
    outline: 2px solid $color-primary;
  }
}

