@import '../../../assets/stylesheets/Variables.scss';

.rootContainer {
  min-height: 100vh;
  display: flex;
}

.form {
  display: inline-block;
  margin: auto;
}

.loginContainer {
  border-radius: 6;
  max-width: 480;
  // box-shadow: theme.boxShadows[0];
  background-color:white;
  padding: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}