/************************** Video Call Page *******************************/
@import '../../assets/stylesheets/globals/media';

$color-primary: rgb(0, 185, 0);
$color-white: #fff;
$light-grey:#f5f5f5;
$border-line: rgba(51, 51, 51, 0.1);
$background-with-opacity: rgba(245, 245, 245, 0.2);
$padding: 0.8rem;
$border-radius: 10px;

* {
  // outline: 1px solid $color-primary;
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
  }
}

/******* Video Call *******/
.videoCtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 12px;
  // outline: 10px solid black;
}
.videoRoomName {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: $padding 0;
  font-size: 1.5rem;
  border-bottom: $border-line 2px solid;
}

.leave {
  background-color: $light-grey;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: $padding;
  > img {
    filter: invert(55%) sepia(0%) saturate(72%) hue-rotate(229deg) brightness(91%) contrast(83%);
    height: 1rem;
    width: 1rem;
  }
}

.roomName {
  font-size: 1rem;
  font-weight: 600;
  
}

.interestBar {
  font-size: 0.5rem;
  font-weight: 600;
  color: darkblue;
  background-color: lightsteelblue;
  padding: 0.3rem 0.5rem;
  border-radius: $border-radius;
}

.chatData {
  padding: 0.6em 1rem;
}

/******* Video Main *******/
.videoMain {
  > * {
    color: $light-grey
  }
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 500px;
  border-radius: $border-radius;
  overflow: hidden;
  &:nth-child(1) {
    z-index: 1;
  }
}

/******* Video Overlay *******/
.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: $padding;
}

.userInfo {
  display: flex;
}
.timer {
  justify-self: center;
  > div {
    width: 80px;
    height: 30px;
    padding: 0.3rem $padding;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    background-color: $background-with-opacity;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
/******* SideVideo *******/
.sideVideo {
  // justify self to corner
  justify-self: end;
  
  div {
    border-radius: 20px;
  }
  > div {
    border: 3px solid $light-grey;
  }
   .sideVideoPlayer {
    display: flex;
    background-color: $background-with-opacity;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }
}

@include up-to-breakpoint($mobile) {  
  .sideVideo {
    .sideVideoPlayer {
      width: 100px;
      height: 100px;
    }
  }
}
/******* Footer *******/
.footer {
  padding: 1em;
}
/************************** Controls *******************************/
.controlsCtn {
  align-self: end;
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.controlsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  &:hover {
    background-color: $light-grey;
  }

  background-color: $background-with-opacity;
  border-radius: 50%;
  padding: 0.3rem;
  img {
    height: 1.5rem;
    width: 1.5rem;
  }
  
}