@import '../../assets/stylesheets/Variables.scss';

.rootContainer {
  min-height: 100vh;
  display: flex;
}

.form {
  display: inline-block;
  margin: auto;
}

.loginContainer {
  border-radius: 6px;
  max-width: 480em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px;
  background-color:white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoImage{
  width: 10em;
  // height: 15em;
}

.textImage {
  width: 20em;
}

// .button {
//   color-scheme: green;

// }